.container-fluid {
    background: linear-gradient(90deg, darkslategrey, seagreen);;
}
.navbar-brand {
    display: block;
    text-align: left;
    font-size: 3rem;
    font-family: "Saira";
    padding: 5px 40px;
}
#my-class {
    color: rgb(38, 81, 201);
    font-weight: bold;
    font-style: italic;
}
.navbar-toggler {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
.navbar-nav {
   color: rgb(255, 255, 255);
   margin: auto;
}
.nav-link {
    font-family: "Merriweather";
    font-size: 2rem;
    color: white;
}