body header {
    background: linear-gradient(90deg, darkslategrey, seagreen)
}
.logo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
    color: violet;
    padding: 10px;
}
#burger_checkbox {
   display: none; 
}
.burger_icon {
    display: none;
}
header input:checked ~ .menu {
    display: flex;
}
header .menu {
    display: flex;
   list-style-type: none;
}
header .menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 15px;
    font-size: 1.5rem;
}
header .menu a:hover {
    font-weight: bold;
}
@media (max-width: 600px) {
    header nav {
        display: flex;
    }
    header .menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        display: block;
        flex: 1;        
    }
}
.info h1 {
   color: white;
font-family: 'Times New Roman', Times, serif;
font-size: 3rem;
font-weight: bold;
position: absolute;
left: 800px;
top: 230px; 
}
.info p {
color: white;
font-family: 'Times New Roman', Times, serif;
font-weight: bold;
font-size: 2rem;
position: absolute;
left: 800px;
top: 400px;
}
#info img{
    object-position: 90.60% 50%;
    width: 50%;
    display: block;
}
@media (max-width: 500px){
    #info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: stretch;  
    }
}
/*header is finished today*/
.inform {
    background-image: url("../image/street.jpg");
    background-size: cover;
    min-height: 550px;
}
.content-box {
    box-sizing: border-box;
    width: 40%;
    border: thin;
    background: rgba(88, 88, 85, 0.7);
    padding: 40px;
    margin: 40px;
}
.content-box h2 {
    color: white;
    font-size: 2rem;
}
.main_information h3, 
.main_information p {
    color: white;
    font-size: 1rem;
}
/*content-box is finished today*/
.statistics {
    background: rgb(0, 0, 0);
    width: 1335px;
    color: rgb(255, 255, 255);
}
.statistics thead {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}
.statistics tbody, 
.statistics tfoot {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;   
}
@media (max-width: 550px) {
    .statistics {
        display: grid;
    }
}
.question h1 {
 color: rgb(255, 0, 0);
 font-weight: bold;
 font-size: 2rem;
 text-align: center;   
}
.question p {
    color: rgb(0, 0, 0);
    text-align: center;
}
.quote {
    background: rgb(202, 175, 196);
}
.quote h1 {
    font-size: 2rem;
    font-style: italic;
    text-align: end;
}
.quote p {
    font-size: 2rem;
    font-style: italic;
}
.box {
    box-sizing: border-box;
    width: 55%;
    border: thin;
    background: transparent;
    padding: 40px;
    margin-left: 250px;
}
.blog {
    background-color: rgb(164, 197, 216);
}
.blog h2 {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
}
#articles {
    display: flex;
    justify-content: space-around
}
.information {
    box-sizing: border-box;
    width: 55%;
    border: thin;
    background-image: url("../image/boy.jpg");
    background-size: cover;
    padding: 40px;
    margin-left: 100px;
    width: 550px;
    height: 600px;
}
.data {
    box-sizing: border-box;
    width: 55%;
    border: thin;
    background-image: url("../image/gull.jpg");
    background-size: cover;
    padding: 40px;
    width: 550px;
    height: 600px; 
}
#travel_tips {
    text-align: center;
    font-weight: bold;
}
.tips {
    background-image: url("../image/sea.jpg");
    background-size: cover;
    color: black;
    font-size: 2rem;
}
.gallery h1,
.gallery p {
font-size: 2rem;
font-style: italic;
}
.gallery {
    background-color: rgb(164, 197, 216);
}
.label {
  background-image: url("../image/palace.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
}
.label_box {
    display: flex;
    flex-direction: column;
    border: solid;
    width: 40%;
    height: 450px;
     align-items: center;
}
#contacts {
    background-color: rgb(189, 214, 214);
}
#contacts h1,
#contacts h2,
#contacts img,
#contacts p {
    display: flex;
    justify-content: center;
}


