:root {
    --main-color: rgb(255, 255, 255);
}
body {
    max-width: 980px;
    margin: auto;
}
body header {
    background: linear-gradient(90deg, darkslategrey, seagreen)
}
header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
    color: violet;
    padding: 10px;
}
#menu__toggle {
  opacity: 0;
}
.menu_box {
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
}
.menu__item {
  display: flex;
  padding: 8px;
  color:white;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
@media(max-width: 700px) {
/* скрываем чекбокс */
#menu__toggle {
  opacity: 0;
}
/* стилизуем кнопку */
.menu__btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center;  /* центрируем содержимое кнопки */
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
/* контейнер меню */
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
/* элементы меню */
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #CFD8DC;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.menu__box {
  transition-duration: .25s;
}
.menu__item {
  transition-duration: .25s;
}
}
.info {
    border:thin;
    width: 40%;
    display: column;
    margin-top: 70px;
}
#info {
    display: flex;
    justify-content: space-around;
}
.info h1 {
    font-family: Palatino, URW Palladio L, serif;
    color: var(--main-color);
    font-size: 2.5rem;
}
.info p {
    font-family: Palatino, URW Palladio L, serif;
    color: var(--main-color);
    font-size: 1.5rem;
}
#info img{
    object-position: 90.60% 50%;
    width: 50%;
    display: block;
    margin-top: 30px;
    padding-bottom: 30px;
}
/*header is finished today*/
.inform {
    background-image: url("../image/street.jpg");
    background-size: cover;
    min-height: 550px;
}
.content-box {
    box-sizing: border-box;
    width: 40%;
    border: thin;
    background: rgba(88, 88, 85, 0.7);
    padding: 40px;
    margin: 40px;
}
.content-box h2 {
    color: white;
    font-size: 2rem;
}
.main_information h3, 
.main_information p {
    color: white;
    font-size: 1rem;
}
/*content-box is finished today*/
.container {
    background: rgb(0, 0, 0);
    width: 1335px;
    color: rgb(255, 255, 255);
}
.container h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}
.col {
    font-size: 2rem;
    font-weight: bold; 
}
@media (max-width: 550px) {
    .statistics {
        display: grid;
    }
}
.question h1 {
 color: rgb(255, 0, 0);
 font-weight: bold;
 font-size: 2rem;
 text-align: center;   
}
.question p {
    color: rgb(0, 0, 0);
    text-align: center;
}
    .prev {
    margin-left: 140px;
    }
.box {
    background: linear-gradient(90deg, darkslategrey, seagreen)
}
.quote {
    text-align: center;
    margin-top: 130px;
}
.quote h1 {
    font-size: 2rem;
    font-style: italic;
    text-align: end;
}
.quote p {
    font-size: 2rem;
    font-style: italic;
}
.box {
    display: flex;
}
.blog {
    background-color: rgb(164, 197, 216);
}
.blog h2 {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
}
#articles {
    display: flex;
    justify-content: space-around
}
.information {
    box-sizing: border-box;
    width: 55%;
    border: thin;
    background-image: url("../image/boy.jpg");
    background-size: cover;
    padding: 40px;
    margin-left: 100px;
    width: 550px;
    height: 600px;
}
.data {
    box-sizing: border-box;
    width: 55%;
    border: thin;
    background-image: url("../image/gull.jpg");
    background-size: cover;
    padding: 40px;
    width: 550px;
    height: 600px; 
}
#travel_tips {
    text-align: center;
    font-weight: bold;
}
.tips {
    background-image: url("../image/sea.jpg");
    background-size: cover;
    color: black;
    font-size: 2rem;
}
.gallery h1,
.gallery p {
font-size: 2rem;
font-style: italic;
}
.gallery {
    background-color: rgb(164, 197, 216);
}
.label {
  background-image: url("../image/palace.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
}
.label_box {
    display: flex;
    flex-direction: column;
    border: solid;
    width: 40%;
    height: 450px;
     align-items: center;
}
#contacts {
    background-color: rgb(189, 214, 214);
}
#contacts h1,
#contacts h2,
#contacts img,
#contacts p {
    display: flex;
    justify-content: center;
}

